<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sutton SignWriting Font Technology</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="written sign language tools for user interface and searching">
    <meta name="author" content="Stephen E Slevinski Jr">
    <meta name="robots" content="noindex,nocache,nofollow,noarchive,noimageindex,nosnippet"/>
    <link rel="icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../include/vendor/bootstrap.sub.css" />
    <link rel="stylesheet" type="text/css" href="../assets/SuttonSignWriting.css" />
    <link rel="stylesheet" type="text/css" href="../include/common.css" />
    <script src="../assets/SuttonSignWriting.js"></script>

  </head>

  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="../index.html"><img src="../assets/ssw_icon.svg"> Sutton SignWriting</a>
        </div>
        <div class="navbar-text navbar-right">
          <a class="navbar-link" style="padding-left:30px;" href="../guide.html">Guide</a>
          <a class="navbar-link" style="padding-left:30px;" href="../characters/index.html">Characters</a>
          <a class="navbar-link active" style="padding-left:30px;" href="index.html">Components</a>
          <a class="navbar-link" style="padding-left:30px;" href="../draft.html">Internet&nbsp;Draft</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <a class="active btn btn-default btn-lg col-md-3 col-sm-6 col-xs-12" href="fonts.html" role="button">Fonts</a>
          <a class="btn btn-default btn-lg col-md-3 col-sm-6 col-xs-12" href="svg.html" role="button">Scalar Vector Graphics</a>
          <a class="btn btn-default btn-lg col-md-3 col-sm-6 col-xs-12" href="html.html" role="button">HTML and CSS</a>
          <a class="btn btn-default btn-lg col-md-3 col-sm-6 col-xs-12" href="js.html" role="button">JavaScript</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-xs-12">
          <h1>Fonts</h1>
            <p>The Sutton SignWriting TrueType fonts are available for download and installation.  
            Please ignore warning and unusual font previews during installation as these will not affect the utility of the font.</p>

            <p>Installing the fonts using the instructions below is not required, but it will improve the user experience.
            If the fonts are not installed on the system, CSS declarations will load the fonts in the browser cache.</p>

            <h2 id="ttf">Fonts Available</h2>
              <h3 id="ssw-font">Symbol Fonts for SVG</h3>
                <p>There are two fonts for the Sutton SignWriting symbols that are used in SVG: 
                the <em>Sutton SignWriting Line font</em> as the positive space of the symbol glyphs on Unicode plane 15 and 
                the <em>Sutton SignWriting Fill font</em>  as the negative space of the symbol glyphs on Unicode plane 16.
                These glyphs descend below the baseline.
                </p>
                <ul><li><a class="" href="../assets/SuttonSignWritingLine.ttf" role="button">Sutton SignWriting Line Font</a></li>
                <li><a class="" href="../assets/SuttonSignWritingFill.ttf" role="button">Sutton SignWriting Fill Font</a></li></ul>

              <hr>

              <h3 id="ssw-font-oned">One Dimensional Font for SignWriting in Unicode</h3>
                <p>The Sutton SignWriting One-D font is production ready. 
                It uses the SignWriting in Unicode (SWU) experimental characters to visualizes a sign as a 1-dimensional string of glyphs for structural markers, symbols, and numbers. 
                These glyphs are centered above the baseline and are meant to be used in traditionally 1-dimensional situations.
                </p>
                <ul><li><a class="" href="../assets/SuttonSignWritingOneD.ttf" role="button">Sutton SignWriting One-D Font</a></li></ul>

              <hr>

              <h3 id="ssw-font-null">Sutton SgnWriting Null</h3>
                <p>The Sutton SignWriting Null font provides empty glyphs for invalid symbol codes on Plane 4 and Plane 15. 
                The font is useful to normalize how browsers and software process invalid characters.
                </p>
                <ul><li><a class="" href="../assets/SuttonSignWritingNull.ttf" role="button">Sutton SignWriting Null Font</a></li></ul>

              <hr>

            <h2 id="ttf">Font Development</h2>

                <p>A 2-dimensional font has been designed for the Universal Shaping Engine for complex scripts.
                Development is planned for the year 2018.  
                A grant has been submitted to the Wikimedia Foundation to support this work.
                Two fonts are planned:
                the <em>Sutton SignWriting Two-D font</em> using the SignWriting in Unicode (SWU) experimental characters and 
                another font using the Unicode 8 specification with 17 additional characters.
                </p>
                <ul><li><a class="" href="https://meta.wikimedia.org/wiki/Grants:Project/slevinski/ASL_Wikipedia_2-D_Font_Development_for_SignWriting" role="button">Wikimedia Grant for 2D Font Development</a></li></ul>

            <hr>

            <h2 id="ttf">Installing the TrueType Fonts</h2>
              <h3>Windows, Linux, and Mac</h3>
              <p>Installation is straight forward for these platforms.  Simply download the TrueType fonts and install as usual.</p>

              <h3>Mac and iOS</h3>
              <p>Installation is possible for Mac OS and iOS with two configuration profiles. 
              The Sutton SignWriting Symbol profile and the Sutton SignWriting One profile.
              </p>
              <p>For Mac, download the profiles and then open to install.
              </p>
              <p>For iOS, click on the links below using Safari.  Unfortunately, the installation is prone to repeated failure.
              So if nothing happens or if something breaks, try again.  
              If the problem continues, consider rebooting your device or force quitting the browser before your next attempt.
              Both profiles should only take a few minutes to properly install with perhaps a dozen attempts.
              The issue is being investigated.
              </p>
              <h4>Sutton SignWriting Symbol (configuration profile)</h4>
              <p>The Sutton SignWriting Symbol configuration profile contains two fonts for use in SVG, the HTML Canvas, and other Cartesian Coordinate based systems.
              The Sutton SignWriting Line Font contains glyphs for the positive space of the symbol images with characters on Unicode plane 15.
              The Sutton SignWriting Fill Font contains glyphs for the negative space of the symbol images with characters on Unicode plane 16.
              </p>

              <ul><li><a class="" href="../assets/SuttonSignWritingSymbol.mobileconfig">Sutton SignWriting Symbol (configuration profile)</a></li></ul>

              <h4>Sutton SignWriting One (configuration profile)</h4>
              <p>The Sutton SignWriting One configuration profile contains two fonts for use in text input and for rendering normalization.
              The Sutton SignWriting One D Font contains glyphs for symbols, markers, and numbers for use in traditional one dimensional text using SWU as an experimental Unicode design.
              The Sutton SignWriting Null Font contains empty glyphs for invalid symbol codes on Plane 4 and Plane 15. This font is useful to normalize how browsers and software process invalid characters.
              </p>

              <ul><li><a class="" href="../assets/SuttonSignWritingOne.mobileconfig">Sutton SignWriting One (configuration profile)</a></li></ul>


              <h3>Android</h3>
              <p>Android can not install the fonts directly onto the system.
              The CSS declarations below will install the fonts in the browser cache.
              </p>

             <hr>

            <h2 id="css">Using the Fonts without Installation</h2>
              <p>The TrueType Fonts can be used without installing the fonts on any platform by defining two font-face statements.
              Simply include the "<a href="../include/fonts.css">fonts.css</a>" style sheet or the following CSS in any HTML page to access the fonts.</p>
              <pre>
@font-face {
  font-family: "SuttonSignWritingLine";
  src: 
    local('SuttonSignWritingLine'),
    url('https://unpkg.com/@sutton-signwriting/font-ttf@1.0.0/font/SuttonSignWritingLine.ttf') format('truetype');
}
@font-face {
  font-family: "SuttonSignWritingFill";
  src: 
    local('SuttonSignWritingFill'),
    url('https://unpkg.com/@sutton-signwriting/font-ttf@1.0.0/font/SuttonSignWritingFill.ttf') format('truetype');
}
@font-face {
  font-family: "SuttonSignWritingOneD";
  src: 
    local('SuttonSignWritingOneD'),
    url('https://unpkg.com/@sutton-signwriting/font-ttf@1.0.0/font/SuttonSignWritingOneD.ttf') format('truetype');
}
              </pre>
              
              <p>If the fonts are installed, then the system fonts will be used.
              If the fonts are not installed when a SignWriting Font page is opened, the CSS will cause the fonts to be automatically downloaded to the browser's cache on the first visit.  
              Once the fonts are installed in the browser cache, they will remain there until the browser cache is emptied.
              Any webside that uses this CSS can access the browser installed font without requesting a new copy.
              The fonts range in size from 2.5 MB to 8 MB each.  
              The first install may take a few seconds or longer depending on your download speed and processor.</p>
        </div>
      </div>        
      
    </div>
<hr>
      <footer>
      <div class="col-sm-12">
        <center>
          <p>Sutton SignWriting Fonts<br>
          Copyright (c) 1974-2017, Center for Sutton Movement Writing, inc<br>
          Licensed under the SIL Open Font License v1.1</p>
        </center>
      </div>
      </footer>

  </body>

</html>
