<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sutton SignWriting JS API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="written sign language tools for user interface and searching">
    <meta name="author" content="Stephen E Slevinski Jr">
    <meta name="robots" content="noindex,nocache,nofollow,noarchive,noimageindex,nosnippet"/>
    <link rel="icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../include/vendor/bootstrap.sub.css" />
    <link rel="stylesheet" type="text/css" href="../assets/SuttonSignWriting.css" />
    <link rel="stylesheet" type="text/css" href="../include/common.css" />
    <script src="../assets/SuttonSignWriting.js"></script>
    <style>
      tbody tr:nth-child(odd) {
        background-color: #ccc;
      }
    </style>
  </head>

  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="../index.html"><img src="../assets/ssw_icon.svg"> Sutton SignWriting</a>
        </div>
        <div class="navbar-text navbar-right">
          <a class="navbar-link" style="padding-left:30px;" href="../guide.html">Guide</a>
          <a class="navbar-link" style="padding-left:30px;" href="../characters/index.html">Characters</a>
          <a class="navbar-link active" style="padding-left:30px;" href="index.html">Components</a>
          <a class="navbar-link" style="padding-left:30px;" href="../draft.html">Internet&nbsp;Draft</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <a class="btn btn-default btn-lg col-md-3 col-sm-6 col-xs-12" href="fonts.html" role="button">Fonts</a>
          <a class="btn btn-default btn-lg col-md-3 col-sm-6 col-xs-12" href="svg.html" role="button">Scalar Vector Graphics</a>
          <a class="btn btn-default btn-lg col-md-3 col-sm-6 col-xs-12" href="html.html" role="button">HTML and CSS</a>
          <a class="active btn btn-default btn-lg col-md-3 col-sm-6 col-xs-12" href="js.html" role="button">JavaScript</a>
          <div class="active col-md-3 col-sm-6 col-xs-12" style="float:right;">
            <a class="active btn btn-default col-xs-6" href="js.html" role="button">API</a>
            <a class="btn btn-default col-xs-6" href="tests/index.html" role="button">Test</a>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>JavaScript API</h1>
          <h2>functional reference</h2>
          <textarea rows="5" style="width:100%;cellpadding:2%;" class="ssw-one-d form-control" id="raw" placeholder="text for analysis"  oninput="rawChange();"></textarea>
          <table class="table table-hover" width="100%">
            <thead>
              <tr>
                <th width="20%">Function Call</th>
                <th width="80%">Output</th>
              </tr>
            </thead>
            <tbody id="fnBody">
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script>
      var fns = [
        {
          id: "chars"
        },
        {
          id: "parse"
        },
        {
          id: "parse2",
          name: "parse",
          args: function(value){
            return [value,"fsw"];
          }
        },
        {
          id: "parse3",
          name: "parse",
          args: function(value){
            return [value,"fsw",true];
          }
        },
        {
          id: "parse4",
          name: "parse",
          args: function(value){
            return [value,"swu"];
          }
        },
        {
          id: "parse5",
          name: "parse",
          args: function(value){
            return [value,"swu",true];
          }
        },
        {
          id: "fsw2swu"
        },
        {
          id: "swu2fsw"
        },
        {
          id: "symbol"
        },
        {
          id: "symbol2",
          name: "symbol",
          args: function(value){
            return [value,true];
          }
        },
        {
          id: "sign"
        },
        {
          id: "sign2",
          name: "sign",
          args: function(value){
            return [value,true];
          }
        },
        {
          id: "mirror"
        },
        {
          id: "fill"
        },
        {
          id: "fill2",
          name: "fill",
          args: function(value){
            return [value,-1];
          }
        },
        {
          id: "rotate"
        },
        {
          id: "rotate2",
          name: "rotate",
          args: function(value){
            return [value,-1];
          }
        },
        {
          id: "scroll"
        },
        {
          id: "scroll2",
          name: "scroll",
          args: function(value){
            return [value,-1];
          }
        },
        {
          id: "structure1",
          name: "structure",
          args: function(value){
            return ["kind",value];
          }
        },
        {
          id: "structure2",
          name: "structure",
          args: function(value){
            return ["category",value];
          }
        },
        {
          id: "structure3",
          name: "structure",
          args: function(value){
            return ["group",value];
          }
        },
        {
          id: "is"
        },
        {
          id: "is2",
          name: "is",
          args: function(value){
            return [value,"writing"];
          }
        },
        {
          id: "is3",
          name: "is",
          args: function(value){
            return [value,"hand"];
          }
        },
        {
          id: "is4",
          name: "is",
          args: function(value){
            return [value,"movement"];
          }
        },
        {
          id: "is5",
          name: "is",
          args: function(value){
            return [value,"dynamic"];
          }
        },
        {
          id: "is6",
          name: "is",
          args: function(value){
            return [value,"head"];
          }
        },
        {
          id: "is7",
          name: "is",
          args: function(value){
            return [value,"hcenter"];
          }
        },
        {
          id: "is8",
          name: "is",
          args: function(value){
            return [value,"vcenter"];
          }
        },
        {
          id: "is9",
          name: "is",
          args: function(value){
            return [value,"trunk"];
          }
        },
        {
          id: "is10",
          name: "is",
          args: function(value){
            return [value,"limb"];
          }
        },
        {
          id: "is11",
          name: "is",
          args: function(value){
            return [value,"location"];
          }
        },
        {
          id: "is12",
          name: "is",
          args: function(value){
            return [value,"punctuation"];
          }
        },
        {
          id: "filter1",
          name: "filter",
          args: function(value){
            return [value,"hand"];
          }
        },
        {
          id: "filter2",
          name: "filter",
          args: function(value){
            return [value,"movement"];
          }
        },
        {
          id: "filter3",
          name: "filter",
          args: function(value){
            return [value,"hcenter"];
          }
        },
        {
          id: "filter4",
          name: "filter",
          args: function(value){
            return [value,"vcenter"];
          }
        },
        {
          id: "colorize",
        },
        {
          id: "view"
        },
        {
          id: "view2",
          name: "view",
          args: function(value){
            return [value,true];
          }
        },
        {
          id: "uni1",
          name: "uni",
          args: function(value){
            return [value,"4"];
          }
        },
        {
          id: "uni2",
          name: "uni",
          args: function(value){
            return [value,"F"];
          }
        },
        {
          id: "uni3",
          name: "uni",
          args: function(value){
            return [value,"10"];
          }
        },
        {
          id: "bbox",
        },
        {
          id: "displace",
          args: function(value){
            return [value,10,10];
          }
        },
        {
          id: "size",
        },
        {
          id: "max"
        },
        {
          id: "max2",
          name: "max",
          args: function(value){
            return [value,"hcenter"];
          }
        },
        {
          id: "max3",
          name: "max",
          args: function(value){
            return [value,"vcenter"];
          }
        },
        {
          id: "norm",
        },
        {
          id: "svg",
        },
        {
          id: "png",
        },
        {
          id: "query",
        },
        {
          id: "queryu",
        },
        {
          id: "query2swu",
        },
        {
          id: "query2fsw",
        },
        {
          id: "regex",
        },
        {
          id: "regexu",
        },
        {
          id: "convert1",
          name: "convert",
          args: function(value){
            return [value,"a"];
          }
        },
        {
          id: "convert2",
          name: "convert",
          args: function(value){
            return [value,"A"];
          }
        },
        {
          id: "convert3",
          name: "convert",
          args: function(value){
            return [value,"s"];
          }
        },
        {
          id: "convert4",
          name: "convert",
          args: function(value){
            return [value,"SL"];
          }
        },
        {
          id: "convertu1",
          name: "convertu",
          args: function(value){
            return [value,"a"];
          }
        },
        {
          id: "convertu2",
          name: "convertu",
          args: function(value){
            return [value,"A"];
          }
        },
        {
          id: "convertu3",
          name: "convertu",
          args: function(value){
            return [value,"s"];
          }
        },
        {
          id: "convertu4",
          name: "convertu",
          args: function(value){
            return [value,"SL"];
          }
        },
        {
          id: "paragraph",
        }
      ];

      var wrap = {
        "parse":['<pre>','</pre>'],
        "png":['<img src="','">'],
        "paragraph":['<div class="signtext">','</div>']
      }
      var process = {
        "parse":function(value){return JSON.stringify(value,null,2)}
      }
      var uses = {
        "fsw2swu": ['fsw'],
        "symbol": ['fsw','swu'],
        "sign": ['fsw','swu']
      }
      var html = fns.map(function(fn){
        var id = fn.id;
        var name = fn.name || fn.id;
        return '<tr id="' + id + 'Row"><td id="' + id + 'Fn">ssw.' + name + '()</td><td id="' + id + 'Out"></td></tr>';
      })
      document.getElementById("fnBody").innerHTML = html.join("\n");
    
    function setRaw(text){
      document.getElementById("raw").value = text;
    }
    function rawChange(){
      var text = document.getElementById("raw").value;
      fns.map(function(fn){
        var id = fn.id;
        var name = fn.name || fn.id;
        var out,args;
        if (fn.args){
          args = fn.args(text);
          out = ssw[name].apply(null,args);
          document.getElementById(id + "Fn").innerHTML = "ssw." + name + '(' + args.map(function(arg){if (typeof(arg)=="string"){return '"' + arg + '"';}else{return arg;}}).join(',') + ')';
        } else {
          out = ssw[name](text);
          document.getElementById(id + "Fn").innerHTML = "ssw." + name + '("' + text + '")';
        }
        if (name in process){
          out = process[name](out)
        }
        if (name in wrap){
          document.getElementById(id + "Out").innerHTML = wrap[name][0] + out + wrap[name][1];
        } else {
          document.getElementById(id + "Out").innerHTML = out;
        }
      })
    }
    </script>

  </body>

</html>
